body{
    /* background-color: red; */
    background-color:#8dfdf8;
    /* height: inherit;
    width: 100%; */
        
overflow: hidden;
}
span{
    color: crimson;
}

.intro{
    display: inline-block;

}
.text{
    font-size: 60px;
    letter-spacing: 10px;
    margin-left: 150px;
    border-right: 5px solid ;
   margin-top: 60px;
    color: rgb(15, 54, 41);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 15s ,cursor .4s step-end infinite alternate;
}
@keyframes cursor{
50%{border-color: black;}
}
@keyframes typing{
    from{width:0;}
}

.shop,.content{
    height: 350px;
    width: 350px;
    border: 3px solid rgb(243, 91, 124);
    position: absolute;
    background-color: rgb(83, 247, 170);
    transition: box-shadow 1s ease-in;
}
.shop{
    left: 17%;
    bottom: 20px;
    border-radius: 25%;

}
.content{
    right: 18%;
    bottom: 20px;
    border-radius: 25%;
}
img{
    height: 320px;
    width: 320px;
    border-radius: 24%;
    position: relative;
    left: 15px;
    top: 15px;
}
.shop:hover,.content:hover{
    box-shadow: 6px 8px 18px black;
}
.matter
{
position: relative;
width: 200px;
height: 200px;
border-radius: 50px;
opacity: 0;
transition: 1s ease-in 1s;
/* border: 4px solid white; */
}

.shop a,.content a{
    text-decoration: none;
    text-shadow:black;
}

.lside{
    bottom: 250px;
    right:-15px;
    background-image: url("parents1.gif");
    background-size: cover;
    /* background-image:linear-gradient(to right,yellow,white) ; */
}

.rside{
    bottom: 250px;
    left:15px;
    /* background-image:linear-gradient(to right,white,yellow) ; */
    background-image: url("see.gif");
    background-size: cover;
}

.matter p{
    position: relative;
    left:20px;
    top: 30px;
    color: black;
    font-weight: 500;
}
.shop:hover .lside{
    opacity: 1;
    
    bottom: 450px;
    right:215px;
    
}

.content:hover .rside{
    opacity: 1;
    
    bottom: 450px;
    left:375px;
    
}
